# Stats 159/259 Hw 7

## Adult Demographics in the USA - An Exploration

Some questions we may answer in this exploration:

Exporatory:

- What is the most "common" persona in the US?
- What is the ratio of different types of occupations in the US by gender?
- Is there an even distribution of races across all occupations?
- What percent of americans are making more than 50k a year? Americans over 40?

Analysis:


- Is there a relationship between Education and hours worked per week?
- Are non-US natives more likely to be more or less educated?
- Can we predict occupation based on gender, age, race, and education?
- Is there a relationship between race and workingclass?
- Can we predict whether someone makes over or under 50k? What factors are more predictive?
- Can we predict someone's occupation? What factors are most predictive?

In [1]:
#package imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('adult.data', header = None)
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status','occupation',
              'relationship', 'race', 'sex','capital-gain','capital-loss','hours-per-week','native country','label']

In [10]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Midori Exploration/Analysis

### Noam Exploration/Analysis

### Samantha Exploration/Analysis

## Author Contributions

Noam:

Midori:

Samantha: